<mat-toolbar color="primary">
      <span routerLink="/">Pfeedback</span>
      <span class="example-fill-remaining-space"></span>
      <span class="nav-link">
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted"
           routerLink="/dashboard"
           i18n="@@dashboard">Dashboard
        </a>
      </span>
      <span class="nav-link">
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted"
           routerLink="/feedback"
           i18n="@@feedback">Feedback geben
        </a>
      </span>
  <span class="nav-link">
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted"
           routerLink="/request"
           i18n="@@request">Feedback anfordern
        </a>
      </span>
</mat-toolbar>
